# Enrichissement de données entreprises avec people data labs

In [ ]:
# Chargement des librairies
import pandas as pd 
import csv
import os
from google.colab import drive

In [ ]:
os.chdir('/content/')

In [ ]:
#Chargement du fichier people data labs companies
url = 'https://go.peopledatalabs.com/l/831693/2020-12-09/hwt5z'
!pip install wget
import wget
print('Beginning file download with wget module')
wget.download(url, '/content/companies.csv')
!unzip /content/companies.csv

Requirement already satisfied: wget in /usr/local/lib/python3.7/dist-packages (3.2)
Beginning file download with wget module
Archive:  /content/companies.csv
replace free_company_dataset.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: free_company_dataset.csv  y

replace __MACOSX/._free_company_dataset.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:   inflating: __MACOSX/._free_company_dataset.csv

In [ ]:
pdl = pd.read_csv('/content/free_company_dataset.csv',error_bad_lines=False, warn_bad_lines=False)
pdl.shape

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(9851887, 10)

In [ ]:
pdl.sample(5)

                country  founded  ...    size           website
4360437           india   2010.0  ...  51-200  syamadynamic.com
9739376   united states      NaN  ...   11-50               NaN
353203   united kingdom   2000.0  ...    1-10   mylocalitguy.uk
3354775          brazil   1998.0  ...   11-50   megaplan.eng.br
4977763             NaN   2017.0  ...    1-10  cosmicladder.com

[5 rows x 10 columns]

In [ ]:
#Chargement du fichier local pour ajout des données manquantes
df = pd.read_excel('/content/22k_linkedin_appended.xlsx')
df.sample(5)

       Civilité first_name  ... pays_iso         pays
9669        don        NaN  ...       ch  SWITZERLAND
3390   Monsieur    Brandon  ...       ch  SWITZERLAND
10824    Madame      Sonia  ...       de      GERMANY
10837    Madame     Vivien  ...       at      AUSTRIA
5488     Madame       Maud  ...       nl  NETHERLANDS

[5 rows x 20 columns]

In [ ]:

#Clean du champs linkedin_comp pour matching
import re
def getlk(x):
  x = str(x)
  try:
    lk = re.search("linkedin\.com\/company\/(?P<company_permalink>[A-z0-9-\.]+)", x).group(0)
  except AttributeError:
    lk = 'no results'
  return lk

# getlk('https://ch.linkedin.com/company/republique')
df.linkedin_comp = df['linkedin_comp'].apply(getlk)

df.sample(5)

       Civilité first_name  ... pays_iso         pays
15749  Monsieur  Alexandru  ...       nl  NETHERLANDS
258    Monsieur    Antoine  ...       de      GERMANY
541      Madame      Diana  ...       ca       CANADA
3392   Monsieur     Joseph  ...       ch  SWITZERLAND
14035  Monsieur        Tim  ...       ie      IRELAND

[5 rows x 20 columns]

In [ ]:
df = df.merge(pdl, left_on='linkedin_comp', right_on='linkedin_url')

In [ ]:
df.fillna('', inplace=True)

In [ ]:
df.to_excel('/content//w_append.xlsx')